* {
    padding: 0;
    margin: 0;
}

:root {
    --text-color: hsl(328, 100%, 54%);
}

.wrapper {
    display: grid;
    place-content: center;
    background-color: var(background);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1rem, 1.5rem + 3vw, 3rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
}

.wrapper>div {
    grid-area: 1/1/-1/-1;
}

.top {
    position: fixed;
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 65%);
}

.bottom {
    position: fixed;
    clip-path: polygon(0% 65%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-gradient linear-gradient(500deg, cyan 50%, var(--text-color) 65%);
    background: linear-gradient(155deg, cyan 15%, var(--text-color) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.03em);
}

/*Game*/
#game {
    width: 800px;
    height: 649px;
    border: 1px solid black;
    border-color: black;
    position: absolute;
    top: 1px;
    left: 25vw;
    overflow: auto;
    background: url(/Images/Waterfall\ by\ pixeljeff\ on\ DeviantArt.gif);
}

#character {
    width: 20px;
    height: 20px;
    background-color: deeppink;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    top: 600px;
    left: 350px;
    z-index: 1000000;
}

#block {
    width: 800px;
    height: 20px;
    background-color: cyan;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

#hole {
    width: 70px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}