* {
    padding: 0;
    margin: 0;
}

:root {
    background-color: black;
    --text-color: #ef7bf8;
}

.wrapper {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1rem, 1.5rem + 3vw, 3rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
}

.wrapper>div {
    grid-area: 1/1/-1/-1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 65%);
}

.bottom {
    clip-path: polygon(0% 65%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: linear-gradient(155deg, #90f8da 50%, var(--text-color) 75%);
    background-clip: text;
    transform: translateX(-0.03em);
}

#game {
    width: 650px;
    height: 649px;
    border: 1px solid black;
    border-color: black;
    position: absolute;
    top: 1px;
    left: 26vw;
    overflow: auto;
    background-size:cover;
}

#character {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(145deg, #FFF6B7 20%, #F6416C 100%);
    border: solid cyan;
    border-radius: 50%;
    position: relative;
    top: 440px;
    bottom: 100px;
    left: 190px;
    z-index: 1000000;
}

.bar {
    width: 650px;
    height: 20px;
    position: relative;
    top: 100px;
    margin-top: -20px;
    background: linear-gradient(145deg, #FFF6B7 20%, #F6416C 100%);
    color:transparent;
}

.gap {
    width: 70px;
    height: 20px;
    background: linear-gradient(145deg, cyan 20%, #F6416C 75%);
    position: relative;
    top: 100px;
    margin-top: -20px;
}